#navi {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    border-radius: 10px;
}

.error {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.search_img {
    display: block;
    width: 50%;
    height: auto;
}

td {
    vertical-align: middle;
}

.search {
    width: 50%
}