{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block content %}
<h4><em>{{ book["title"] }}</em> to </h4>
<form action="/add" method="POST">
    <input name="isbn" type="hidden" value={{ book["isbn"] }}>
    <div class="mb-3">
        <select name="shelf">
            <option disabled selected>shelf</option>
            {% for shelf in shelves %}
            <option value={{ shelf["id"] }}>{{ shelf["name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>
<form action="/">
    <div class="mb-3">
        <button class="btn btn-outline-dark" type="submit">Cancel</button>
    </div>
</form>
{% endblock %}