{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2 class="m-3">Welcome to Bookworm!</h2>
    <div class="mx-3 mb-5">
        {% if books != [] %}
            <div>
                <h4 class="mb-3">Currently reading:</h4>
            </div>
            {% for book in books %}
                <span class="inline mx-3">
                    <img src="{{ book["img_small"] }}">
                    <p class="mt-2">{{ book["title"] }}</p>
                </span>
            {% endfor %}
        {% else %}
            <h5>No books are currently being read</h5>
        {% endif %}
    </div>
{% endblock %}