{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block content %} 
    <form action="/login" class="center" method="POST">
        <div class="mx-auto by-3" id="text">
            <div class="my-3">
                <input name="username" placeholder="username" type="text">
            </div>
            <div class="mb-3">
                <input name="password" placeholder="password" type="password">
            </div>
        </div>
        <button class="btn btn-primary my-2" type="submit">Log In</button> 
    </form>
{% endblock %}